.registro_box{
    width: 400px;
    height: 450px;
    margin:0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -5px rgb(219, 220, 228);
}
.form_registro{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin:auto;
}
.form_titlebox{
    padding-top:0.5em;
}
.form_title{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color:rgb(62, 62, 62)
}
.lbl{
    margin-top: 1em;
    color:rgb(62, 62, 62)
}
.input_form{
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    padding:2px;
    background-color: rgba(234, 241, 247, 0.454);
}
.btn_form{
    margin-top: 1.5em;
    border: none;
    height: 35px;
    background-color: rgba(170, 224, 255, 0.756);
}
.pre_radius{
    border-radius: 7px;
}